.body {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
}

.social-icon {
    color: #ffffff;
    font-size: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: rgb(26, 249, 238);
}

@keyframes move-twinkle-back {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

body {
    background: black url("/stars.png") repeat top center;
    animation: move-twinkle-back 100s linear infinite;
}


.intro {
    font-size: 45px;
    margin-left: 120px;
    position: fixed;
    text-align: left;
    grid-column: 1;
    font-family: 'Movistar Text', sans-serif;
    color: white;
    padding-top: 19px;
}

.sub-intro {
    font-size: 17px;
    
}

.goal {
    font-size: 17px;
    opacity: 0.8;
}

.container {
    grid-column: 2;
    font-family: 'Movistar Text', sans-serif;
    color: white;
}

.intro .nav-list {
    font-size: 13px;
    list-style: none;
}

.intro .nav-list a {
    text-decoration: none;
    color: white;
}

.intro .nav-list li {
    margin-bottom: 20px;
    margin-top: 30px;
}

.intro .nav-list a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(26, 249, 238);
}


@media (max-width: 870px) {

    .body {
        grid-template-columns: unset;
    }

    .container {
        grid-column: unset;
    }

    .intro {
        grid-column: unset;
        margin-left: unset;
        position: unset;
        text-align: left;
        padding-top: unset;
        margin-left: 20px;
    }

    .intro .nav-list {
        display: none;
    }

    #footer {         
        text-align: center; 
        color: white;
        font-family: 'Movistar Text', sans-serif;  
    }   

}

#footer {         
    text-align: center; 
    color: white;
    font-family: 'Movistar Text', sans-serif;  
    grid-column: 1 / -1;
}       

.main {
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Movistar Text', sans-serif;
}

.indented-blockquote {
    color: white;
    font-size: 15px;
    word-wrap: break-word;
    overflow: hidden;
    margin-right: 70px;
    
}

.date {
    font-size: 13px;
}

.title {
    font-size: 15px;
}

.experience {
    font-size: 15px;
    overflow: hidden;
    word-wrap: break-word;
    margin-right: 70px;
}

.styled-list {
    list-style: none;
    display: flex;
    color: black;
    margin-right: 70px;
    flex-wrap: wrap;
}

.styled-list li {
    background-color: rgb(26, 249, 238);
    padding: 4px;
    border-radius: 10px;
    opacity: 0.8;
    margin-right: 9px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.styled-list li:hover {
    background-color: rgb(26, 249, 238);
    opacity: 1;
    text-decoration-color: rgb(26, 249, 238);
}

.resume {
    font-size: 16px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.resume:hover {
    text-decoration: underline;
    text-decoration-color: rgb(26, 249, 238);
}

.project-container {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto-sized, second column takes remaining space */
    column-gap: 20px; /* Spacing between columns */
}

.index-container {
    margin-left: 20px;

}

.index-container img {
    border-radius: 10px;
    overflow: hidden; 
    margin-bottom: 65px;
}

.index-container img:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(26, 249, 238, 0.5);

}

.summary {
    flex-grow: 0;
}

.summary a {
    color: white;
    text-decoration: none;
}

.summary a:hover {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: rgb(26, 249, 238);
}