#header1 {
    text-align: center;
    font-style: italic;
    font-family: fantasy;
    color: black;
}
#container {
    inline-size: 20em;
    border: black;
    display: flex;
    border: 1px black;

}


/* body {
    background-image: url(pink_stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* position: fixed; 
    top: 0; 
    left: 0;  */
	
  /* Preserve aspet ratio */
    /* min-width: 100%;
    min-height: 100%; */


#Bio {
    text-align: center;
    font-size: 24px;
    font-family: fantasy;
    font-style: italic;
    color: black;
    
}

.bio-p{
    color: black;
    text-align: center;
    margin: 2em 10em 2em 10em;
    border-style: solid;
    border-color: rgb(68, 102, 164);
    font-size: 20px;
    font-family: fantasy;

}

.directory {
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    color: black;
}

footer{
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1em;

}
